@charset "utf-8";
/* CSS Document */

#form
{
	width:500px;
	
	margin:0px auto;
	text-align:center;
	
}
#form form input
{
	width:100%;
	height:35px;
}
form button
{
	width:50%;
	height:35px;
}
table,td
{
	border:solid #e9e9e9 1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
#middle{
	width:1200px;
	height: 400px
	background-color: red; 
	float:left;
}
#side{
	width: 100px;
	height: 200px
	background-color: blue;
	float:right;
}

.container-fluid {
     padding-left: 15px;
     padding-right: 15px;
}